.body_info{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.main_info{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 50px;
    flex: 1;
}

.sec_date{
    display: flex;
    flex-direction: column;

}