.body_info{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_info{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 50px;
    text-align: center;

}

.main_top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main_map{
    align-items: center;
    margin-top: 20px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
}

.sec_date{
    display: flex;
    flex-direction: column;

}