.body_info{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_info{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 50px;
    text-align: center;

}

.main_top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#map{
    height: 600px;
}

.sec_date{
    display: flex;
    flex-direction: column;

}