html{
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: #dedede;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

li {
    list-style: none;
}

span{
    font-size: 24px;
}

h1{
    font-size: 32px;
}

header {
    padding-left: 30px;
    padding-right: 30px; 
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #0000001a solid 1px;
    padding: 10px;
    align-items: baseline;
}



.li_search {
    display: flex;
    justify-content: space-between;
    width: 30%;
    background: #F0F0F0;
    border-radius: 20px;
    padding: 5px;
}

.li_search input {
    width: 70%;
    border: none;
    background: #F0F0F0;
}

span {
    margin: 10px;
    cursor: pointer;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

ul.dropdown-menu {
    display: none;
    list-style: none;
    position: absolute;
    background: #FFF;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul.dropdown-menu li {
    padding: 10px;
}




@media screen and (max-width: 756px) {
    header {
        margin-left: -25px;
    }

    main {
        margin-left: -100000px;
    }

    h1{
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        flex-direction: row;

    }

    .burger-menu {
        display: flex;
    }

    .menu-item {
        display: none;
    }

    .burger-menu:hover + .dropdown-menu,
    .dropdown-menu:hover {
        display: block;
    }

    .li_search{
        display: flex;
        justify-content: space-between;
    }

    input, .a_search{
        display: none;
    }
}























/* footer */


footer{
    background-color: #3d3d3d;
    color: white;
    padding: 50px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: white;

}

footer li {
    margin: 10px 0px ;
}


.li_search_footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background: #F0F0F0;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
}

.li_search_footer input {
    width: 70%;
    border: none;
    background: #F0F0F0;
}

.li_search_footer span{
    color:black
}





@media screen and (max-width: 756px) {

    .li_search_footer{
    display: flex;
    justify-content: space-between;
    }   


}




.button_top {
    position: fixed;
    bottom: 20px;
    right: center;
    z-index: 999;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    /* position: relative; */
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button_top:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button_top:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button_top::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button_top:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}